.DS_Store
*.json
src/__pycache__/
db_spectra/ALL_GNPS*
user/
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/spectral_lib_matching/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS_lib_results_final.tsv
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/spectral_lib_matching/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS_lib_results_cluster_info.tsv
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/spectral_lib_matching/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS_lib_results.tsv
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/pos/spectral_lib_matching/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS_lib_results_pos.tsv
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/pos/molecular_network/config.yaml
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/pos/molecular_network/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS_mn_pos.graphml
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/pos/molecular_network/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS_mn_metadata_pos.tsv
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/pos/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS-feature_table.csv
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/pos/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS-FBMN.mgf
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/molecular_network/config.yaml
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/molecular_network/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS_mn_metadata.tsv
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/molecular_network/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS_mn.graphml
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS-feature_table.csv
data/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS/20230404_LFX_OK_164_VGF137_F08_1_pos_mzML_SIRIUS_PREPROCESS-FBMN.mgf
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/spectral_lib_matching/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS_lib_results_final.tsv
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/spectral_lib_matching/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS_lib_results_cluster_info.tsv
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/spectral_lib_matching/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS_lib_results.tsv
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/pos/spectral_lib_matching/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS_lib_results_pos_final_pos.tsv
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/pos/spectral_lib_matching/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS_lib_results_pos_cluster_info_pos.tsv
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/pos/spectral_lib_matching/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS_lib_results_pos.tsv
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/pos/molecular_network/config.yaml
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/pos/molecular_network/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS_mn_pos.graphml
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/pos/molecular_network/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS_mn_metadata_pos.tsv
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/pos/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS-feature_table.csv
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/pos/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS-FBMN.mgf
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/molecular_network/config.yaml
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/molecular_network/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS_mn_metadata.tsv
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/molecular_network/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS_mn.graphml
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS-feature_table.csv
data/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS/20230404_LFX_OK_163_VGF137_F07_1_pos_mzML_SIRIUS_PREPROCESS-FBMN.mgf
db_spectra/CASMI_neg_cleaned.msp
db_spectra/CASMI_neg_cleaned.msp
db_spectra/CASMI_neg_cleaned.msp
